* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url(img/topography.png);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.center .avatar img {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    margin-top: 5%;
}

.center {
    width: 650px;
    background-color: rgba(94, 35, 126, 0.63);
    height: 640px;
    text-align: center;
    border-radius: 30px;
    margin-top: 120px;

}

.content {
    padding: 20px;
}

h1 {
    color: wheat;
}

.content h2,
p {
    font-weight: lighter;
    letter-spacing: 1px;
    width: 80%;
    margin: 10px auto;
}

.content h3 {
    margin-top: 20px;
}

div.social i {
    padding: 10px;
    font-size: 50px;
    color: rgba(35, 6, 51, 0.63);
    transition: 0.4s;
}

div.social i:hover {
    color: rgba(255, 255, 255, 0.63);
}

@media screen and (max-width:700px) {
    .center {
        width: 300px;
        height: 500px;
    }

    h1 {
        font-size: 21px;
    }

    h2 {
        font-size: 16px;
    }

    p {
        width: 90%;
        font-size: 12px;
    }

    h3 {
        font-size: 14px;
    }

    .social a i {
        font-size: 30px;
    }
}